*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    transition: all 0.1s ease-in;
    font-family: "Poppins", sans-serif;
    scroll-margin-top: 80px;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container {
    display: flex;
}

.principal {
    width: 70%; 
    float: left;
}

.sidebar {
    width: 30%;
    float: left;
}


header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: fixed;
    background-color: rgb(22, 22, 112);
    position: fixed;
}

#nav-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.menu{
    width: 60%;
}

.links{
    width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;
}

.links:hover{
    color: rgb(255, 166, 0);
    text-decoration: underline;
}

main{
    width: 68%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-top: 40px;
    padding-left: 5%;
    gap: 2.75rem;
}

a{
    text-decoration: none;
    font-weight: 800;
    color: black;

}

a:hover{
    text-decoration: underline;
}

h2{
    color: rgb(68, 99, 204);
    padding-top: 0.75rem;
    padding-bottom: 2.75rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
}

h3{
    padding-top: 20px;
}


article{
    margin-bottom: 50px;
    display: inline;
}

.container p{
    font-size: large;
    line-height: 1.5;
    letter-spacing: 1;
    text-align: justify;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.76);
}

.recentes, .autores{
    width: 100%;
}

#img-principal{
    width: 364px;
    height: 200px;
}

.container-img{
    overflow: auto;
}
.containerimg img{
    float: left;
    margin-right: 10px;
}

aside{
    width: 30%;
    height: 100%;
    min-height: 300px;
    padding: 2rem;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    gap: 2.75em;
    align-items: center;
    list-style: disc;
}

ul{
    list-style-type: none;
    padding-bottom: 10;
    margin: 0;

}

.topicos{
    padding: 2em;
    background-color: rgba(179, 226, 248, 0.219);
    border-radius: 3%;
}
.content{
    padding-top: 1em;
}


table {
    width: 100%;
    border-collapse: collapse;    
}
  
th {
background-color: #f2f2f2;
color: #333;
font-weight: bold;
padding: 10px;
text-align: left;
}

td {
padding: 10px;
border-bottom: 1px solid #ccc;
}

td:first-child {
font-weight: bold;
}

td:last-child {
text-align: center;
}

td.highlight {
background-color: #ffd700;
}

td.color {
color: red;
}

.noticia{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.noticia h3{
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
    font-weight: 900;
}

.noticia p{
    color: rgb(0, 0, 0);
    font-weight: 300;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0;
    height: 10em;
    background-color:  rgb(22, 22, 112);
    color: white;
}

.foot{
    display: flex;
    padding-bottom: 20px;
    padding-top: 30px;
    color: white;
}
.rodape{
    color: white;
    display: inline;
    padding: 10px;
}
.rodape:hover{
    color: rgb(255, 166, 0)
}